{% extends "lupanes/base.html" %}
{% load django_bootstrap5 %}

{% block main %}
<div class="d-flex justify-content-between">
  <h1>Listado de neveras</h1>
</div>

{% if not form.is_valid %}

<div class="alert alert-primary" role="alert">
  Introduce la contraseña de lupierra.es para poder ver las neveras.
</div>

<form class="form" method="post">
  {% csrf_token %}

  {% bootstrap_form form %}

  {% bootstrap_button button_type="submit" content="Enviar" %}
</form>

{% else %}

<div class="table-responsive">
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in object_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ customer.username }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endif %}
{% endblock %}
