{% extends "users/login_base.html" %}
{% load i18n django_bootstrap5 %}

{% block login_content %}
{% if request.user.is_authenticated %}

  Redirigiendo a la aplicación... <br>
  <a href="{% url 'root_index' %}">Pulsa aquí si no se redirige.</a>
  <script>
    window.location.replace("{% url 'root_index' %}");
  </script>

{% else %}
<div>
  {% bootstrap_form_errors form %}
  <form action="{% url 'users:login' %}" role="form" method="post">
    {% csrf_token %}


    <div class="mb-3">
      <label class="form-label" for="id_username">Nombre de usuario</label>
      <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150"
        class="form-control {% if form.errors %}is-invalid{% endif %}" placeholder="Nombre de usuario" required="" id="id_username"
        value="{{ form.username.value|default:"" }}">
    </div>

    <div class="mb-3">
      <label class="form-label" for="id_password">Contraseña</label>
      <div class="input-group">
        <input type="password" name="password" autocomplete="current-password" class="form-control {% if form.errors %}is-invalid{% endif %}"
          placeholder="Contraseña" required="" id="id_password">
        <span class="input-group-text"><i id="id_password_toggle" class="fa-regular fa-eye"></i></span>
      </div>
    </div>

    <input type="hidden" name="next" value="{{ next }}" />

    <div class="mb-3"><a href="{% url 'users:password_reset' %}">¿Has olvidado tu contraseña?</a></div>
    <div class="form-actions-no-box">
      <input type="submit" name="submit" value="{% trans 'Log in' %}" class="btn btn-primary form-control"
        id="submit-id-submit">
    </div>
  </form>
</div>
<div class="row-fluid mt-3 pt-3 border-top border-dark text-start">
  <p>Tu nombre de usuario es el <strong>nombre de tu nevera</strong>.
    Si tienes dudas puedes consultarlo en la sección <a href="{% url 'users:info-customer-list' %}">Información para
      socios</a></p>
</div><!-- /.row-fluid -->

<script>
  (function () {

    let toggle = document.querySelector('#id_password_toggle');

    toggle.addEventListener('click', function (e) {
      e.preventDefault();


      let x = document.getElementById("id_password");
      if (x.type === "password") {
        x.type = "text";

      } else {
        x.type = "password";
      }
      toggle.classList.toggle('fa-eye');
      toggle.classList.toggle('fa-eye-slash');
    });

  })();
</script>
{% endif %}
{% endblock login_content %}
