{% extends "lupanes/base.html" %}
{% load i18n %}

{% block body %}
<body class="container">
  <div class="container-fluid" style="margin-top: 30px">
    <div class="row-fluid">
      <div class="well" style="width: 320px; margin-left: auto; margin-right: auto">
        <div class="row-fluid">
          <div>
            {% block branding %}<h3 style="margin: 0 0 20px;">Lupierra</h3>{% endblock %}
          </div>
        </div><!-- /row fluid -->
      </div><!--/.well-->
      <div class="well" style="width: 800px; margin: auto auto 50px auto">
        <div class="row-fluid">
          <h2>{% trans 'Password reset complete' %}</h2>
          <p>{% trans 'Your password has been set. You may go ahead and log in now.' %}</p>
          <a href="{% url 'users:login' %}">{% trans 'Login' %}</a>
        </div>
      </div><!--/.well-->
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</body>
{% endblock %}
