{% extends "lupanes/base.html" %}
{% load i18n django_bootstrap5 %}

{% block body %}
<body class="container">
  <div class="container-fluid" style="margin-top: 30px">
    <div class="row-fluid">
      <div class="well" style="width: 320px; margin-left: auto; margin-right: auto">
        <div class="row-fluid">
          <div>
            {% block branding %}<h3 style="margin: 0 0 20px;">Lupierra</h3>{% endblock %}
          </div>
        </div><!-- /row fluid -->
      </div><!-- /well -->
      {% if form %}
      <div class="well" style="width: 600px; margin-left: auto; margin-right: auto">
        <h2>{% trans 'Enter new password' %}</h2>
        <p>{% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}</p>
      </div><!-- /well -->

      <div class="well" style="width: 320px; margin-left: auto; margin-right: auto">
        <div class="row-fluid">
          <div>
            <form role="form" method="post">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% bootstrap_form_errors form type='non_fields' %}
              <div class="form-actions-no-box">
                <input type="submit" name="submit" value="{% trans 'Change my password' %}" class="btn btn-primary form-control" id="submit-id-submit">
              </div>
            </form>
          </div>
        </div><!-- /.row-fluid -->
      </div><!--/.well-->
      {% else %}
      <div class="well" style="width: 800px; margin-left: auto; margin-right: auto">
        <h2>{% trans 'Password reset unsuccessful' %}</h2>
        <p>{% trans 'The password reset link was invalid, possibly because it has already been used.' %}<br />
        {% trans 'Please request a new password reset.' %}</p>
      </div><!-- /well -->
      {% endif %}
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</body>
{% endblock %}
