{% extends "lupanes/base.html" %}
{% load i18n django_bootstrap5 %}

{% block content %}
<div class="content-title mb-4">
  <h1>{% trans 'User Profile' %}</h1>
</div>
<hr />
<div class="border rounded-pill p-2 col-md-2 text-center ml-2 bg-primary text-white" style="margin-bottom: -20px;">{% trans 'Contact Information' %}</div>
<form method="post">{% csrf_token %}
  <div class="row-fluid border border-dark rounded p-3 pt-5">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        {% bootstrap_field form.first_name %}
      </div>
      <div class="col-md-4 mb-3">
        {% bootstrap_field form.last_name %}
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        {% bootstrap_field form.email %}
      </div>
      <div class="col-md-4 mb-3">
        {% bootstrap_field form.phone %}
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-8 mb-6">
        {% bootstrap_field form.address %}
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        {% bootstrap_field form.postal_code %}
      </div>
      <div class="col-md-4 mb-3">
        {% bootstrap_field form.town %}
      </div>
    </div>
    <div class="mt-2 form-row">
      <input type="submit" value="{% trans 'Save' %}" class="btn btn-success" id="submit-id-submit">
    </div>
  </div>
</form>
{% endblock %}
