{% extends "lupanes/base.html" %}
{% load django_bootstrap5 %}

{% block main %}
<h1>Listado de albaranes</h1>

<ul class="list-inline">
  {% if previous_month %}
  <li class="list-inline-item">
    <a href="{% url 'lupanes:deliverynote-month' previous_month.year previous_month.month %}">
      <i class="fa-solid fa-arrow-left"></i> {{ previous_month|date:"F Y" }}</a>
  </li>
  {% endif %}
  <li class="list-inline-item">
    <strong>{{ month|date:"F Y" }}</strong>
  </li>
  {% if next_month %}
  <li class="list-inline-item">
    <a href="{% url 'lupanes:deliverynote-month' next_month.year next_month.month %}">
      {{ next_month|date:"F Y" }} <i class="fa-solid fa-arrow-right"></i></a>
  </li>
  {% endif %}
</ul>

</ul>

<div class="mb-3">
  <a class="btn btn-outline-success me-2" href="{% url 'lupanes:deliverynote-summary' month.year month.month %}">Ver
    resumen
    del mes por neveras</a>
  <a class="btn btn-primary" href="{% url 'lupanes:deliverynote-new-bulk' %}">Crear albarán</a>
</div>

<div class="table-responsive">
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Fecha</th>
        <th>Nevera</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Importe</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for note in object_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ note.date|date:"SHORT_DATE_FORMAT" }}</td>
        <td>{{ note.customer.username }}
          {% if note.created_by %}<i class="fa-regular fa-file-lines text-warning"
            title="Registrado por {{ note.created_by.username }}"></i>{% endif %}
        </td>
        <td>{{ note.product.name }}</td>
        <td class="text-nowrap">
          {% if note.product.unit_accept_decimals %}{{ note.quantity }}
          {% else %}{{ note.quantity|floatformat:0 }}{% endif %}
          {{ note.product.unit }}
        </td>
        <td>{{ note.amount|floatformat:2 }} €</td>
        <td>
          <a class="btn btn-outline-warning" href="{% url 'lupanes:deliverynote-edit-bulk' note.pk %}">
            <i class="fa-solid fa-pencil" title="editar albarán" aria-hidden="true"></i></a>
          <a class="btn btn-outline-danger" href="{% url 'lupanes:deliverynote-delete-bulk' note.pk %}">
            <i class="fa-solid fa-trash" title="borrar albarán" aria-hidden="true"></i></a>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock main %}
