{% extends "lupanes/base.html" %}
{% load django_bootstrap5 %}

{% block main %}
<h1>Resumen de albaranes por neveras - {{ period|date:"F Y" }}</h1>

<div class="mb-3">
  <a class="btn btn-outline-success" href="{% url 'lupanes:deliverynote-list' %}?month={{ period.month }}">
    <i class="fa-solid fa-arrow-left"></i> Volver al listado de albaranes
  </a>
</div>

<div class="table-responsive">
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Nevera</th>
        <th>Importe</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in object_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.total|floatformat:2 }} €</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock main %}
