{% extends "lupanes/deliverynote_form.html" %}
{% load django_bootstrap5 %}
{% block main %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'lupanes:deliverynote-current-month' %}">Albaranes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Crear albarán</li>
  </ol>
</nav>

<div class="bg-light p-4 rounded-2 border border-secondary">
  <form class="form" method="post">
    {% csrf_token %}

    {% bootstrap_field form.customer %}
    {% bootstrap_field form.product %}

    <div id="id_price" class="mb-2">-</div>

    {% bootstrap_field form.quantity addon_after='<span class="text-secondary" id="id_unit"></span>'%}

    {% bootstrap_field form.date %}

    {% bootstrap_button button_type="submit" name="on-success" value="new-same-customer" content="Guardar y continuar con la misma nevera"  %}
    {% bootstrap_button button_type="submit" name="on-success" value="new-another-customer" content="Guardar y cambiar de nevera" %}
    {% bootstrap_button button_type="submit" name="on-success" value="go-back-to-list" content="Guardar y volver al listado" %}
  </form>

</div>
{% endblock main %}
{% block extra_script %}
{{ block.super }}
<script>
$(document).ready(function () {
  $('#id_customer').select2();
});
</script>
{% endblock %}
