{% extends "lupanes/base.html" %}
{% load django_bootstrap5 %}

{% block main %}
<h1>La compra de hoy</h1>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Producto</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
  {% for note in deliverynotes_today %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ note.product.name }}</td>
      <td>{{ note.quantity }} {{ note.product.unit }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<h2>Nuevo albarán</h2>

<form class="form" method="post">
  {% csrf_token %}

  {% bootstrap_form form %}

  {% bootstrap_button button_type="submit" content="Enviar" %}
</form>

{% endblock main %}
