{% extends "lupanes/base.html" %}
{% load django_bootstrap5 %}

{% block main %}
{% if object %}
<h2>Editar albarán</h2>

{% else %}
<div class="d-flex justify-content-between">
  <h1>La compra de hoy</h1>
  <div>
    <h4 class="badge bg-success">{{ form.customer.name }}</h4>
    <a class="btn btn-link" href="{% url 'lupanes:customer-logout' %}">salir</a>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Importe</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for note in deliverynotes_today %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ note.product.name }}</td>
      <td class="text-nowrap">
        {% if note.product.unit_accept_decimals %}{{ note.quantity }}
        {% else %}{{ note.quantity|floatformat:0 }}{% endif %}
        {{ note.product.unit }}
      </td>
      <td>{{ note.amount|floatformat:2 }} €</td>
      <td>
        <div class="d-flex">
          <a class="btn btn-outline-warning me-2" href="{% url 'lupanes:deliverynote-edit' note.pk %}" title="editar"><i class="fa-solid fa-pencil"></i></a>
          <a class="btn btn-outline-danger" href="{% url 'lupanes:deliverynote-delete' note.pk %}" title="eliminar"><i class="fa-solid fa-trash"></i></a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2 class="mt-5">Nuevo albarán</h2>
{% endif %}

<form class="form" method="post">
  {% csrf_token %}

  {% bootstrap_field form.product %}
  {% bootstrap_field form.quantity addon_after='<span class="text-secondary" id="id_unit"></span>'%}

  {% bootstrap_button button_type="submit" content="Enviar" %}
</form>

{% endblock main %}

{% block extra_script %}
<script>
  // TODO(@slamora): move code to a .js file
  $(document).ready(function () {
    $('#id_product').select2();

    $("#id_product").on("change", function() {
      $.getJSON(
        // TODO(@slamora): avoid hardcoded URL
        "/product/" + this.value + "/",
        function( data ) {
          $("#id_unit").text(data["unit"]["name"]);

          let step = (data["unit"]["accept_decimals"] ? "0.001" : "1");
          $("#id_quantity").attr("step", step);

          let min_value = (data["unit"]["accept_decimals"] ? "0.001" : "1");
          $("#id_quantity").attr("min", min_value);
        },
      );
    });
  });
</script>
{% endblock %}
