{% extends "lupanes/base.html" %}
{% load django_bootstrap5 %}

{% block extra_style %}
<style>
  #id_price::before {
    content: "Precio: ";
  }

  #id_price::after {
    content: " €";
  }
</style>
{% endblock %}

{% block main %}
{% if object %}
<h1>Editar albarán</h1>

{% else %}
<h1>La compra de hoy</h1>

<p>Hola, <span class="text-success">{{ customer.name }}</span>. ¿No eres tú? <a href="{% url 'lupanes:customer-logout' %}">Pulsa para cambiar de nevera</a>.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Importe</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for note in deliverynotes_today %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ note.product.name }}</td>
      <td class="text-nowrap">
        {% if note.product.unit_accept_decimals %}{{ note.quantity }}
        {% else %}{{ note.quantity|floatformat:0 }}{% endif %}
        {{ note.product.unit }}
      </td>
      <td>{{ note.amount|floatformat:2 }} €</td>
      <td>
        <div class="d-flex">
          <a class="btn btn-outline-warning me-2" href="{% url 'lupanes:deliverynote-edit' note.pk %}" title="editar"><i class="fa-solid fa-pencil"></i></a>
          <a class="btn btn-outline-danger" href="{% url 'lupanes:deliverynote-delete' note.pk %}" title="eliminar"><i class="fa-solid fa-trash"></i></a>
        </div>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">Todavía no has comprado nada hoy. <a href="#new-deliverynote">Crear nuevo albarán</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="alert alert-primary" role="alert">
  <strong>NOTA:</strong>
  Los precios son orientativos (puede ser que en el momento de registrar el albarán todavía esté pendiente de
  actualizarse el último precio del producto).
</div>

<h2 id="new-deliverynote" class="mt-5">Nuevo albarán</h2>
{% endif %}

<div class="bg-light p-4 rounded-2 border border-secondary">
  <form class="form" method="post">
    {% csrf_token %}

    {% bootstrap_field form.product %}

    <div id="id_price" class="mb-2">-</div>

    {% bootstrap_field form.quantity addon_after='<span class="text-secondary" id="id_unit"></span>'%}

    {% bootstrap_button button_type="submit" content="Enviar" %}
  </form>
</div>
{% endblock main %}

{% block extra_script %}
<script>
  // TODO(@slamora): move code to a .js file
  $(document).ready(function () {
    $('#id_product').select2();

    $("#id_product").on("change", function () {
      if (!this.value) {
        return;
      }
      $.getJSON(
        // TODO(@slamora): avoid hardcoded URL
        "/product/" + this.value + "/",
        function (data) {
          $("#id_unit").text(data["unit"]["name"]);
          $("#id_price").text(data["price"]);

          let step = (data["unit"]["accept_decimals"] ? "0.001" : "1");
          $("#id_quantity").attr("step", step);

          let min_value = (data["unit"]["accept_decimals"] ? "0.001" : "1");
          $("#id_quantity").attr("min", min_value);
        },
      );
    });
  });
</script>
{% endblock %}
